.image__cont{
    display: flex;
    justify-content: center;
    align-items:center ;
    height:400px;
    width: 400px;
    background-color: #fff;
    flex-direction: column;
    margin-bottom: 20px;
   
}
.image__cont.background__coloer{
    background-color: brown;
}
img{
    margin: 1rem;
    width: 300px;
    max-height: 300px;
    object-fit: contain;
}

img.circle{
    border-radius:50%;
   
}
img.sequre{
    border-radius: 0px;
}

